<ActionBar title="My App" class="action-bar">
</ActionBar>
<StackLayout class="page">
    <ConfettiView height="300" width="100%">
        <StackLayout class="p-10">
            <Label text="Can be embedded." textWrap="true"></Label>
            <Label text="Or tap an item below for full screen." textWrap="true"></Label>
        </StackLayout>
    </ConfettiView>
    <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <Label [nsRouterLink]="['/item', item.id]" [text]="item.name"
                class="list-group-item"></Label>
        </ng-template>
    </ListView>
</StackLayout>
